<div class="wrapFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <h5>SHOP ONLINE</h5>
                <div class="footerContent">
                    <span>Address: 76 Quang Trung, District 12, HCMC</span>
                    <span>Phone Number: 012345679</span>
                    <span>Email: mail&#64;gmail.com</span>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <h5>POLICY</h5>
                <div class="footerContent">
                    <span>Return and Exchange Policy</span>
                    <span>Privacy Policy</span>
                    <span>Warranty Policy</span>
                </div>
            </div>
        </div>
    </div>
</div>